@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
body {
	font-family: 'Roboto', sans-serif;
	background-color: #FFF;
	color: #F54D6C;
	color: #9146ff;
}











/*######################################################################*/
/*#####################################################################*/
/*#################      H E A D E R      ############################*/
/*######################################################################*/
/*#####################################################################*/
header {
	height: 65px;
}
.navbar {
	background-color: #FFF;
	box-shadow: 0 2px 3px rgba(0,0,0,0.1);
	border-bottom: 1px solid transparent;
	
}
.navbar-container {
    display: flex;
    justify-content: space-between;
	align-items: center;
}
.navbar-warper {
  padding: 0% 6%;
}
#menu-header {
	color: #F54D6C;
	height: 60px;
	border-radius: 0px;
}
#menu-header ul, #menu-header li {
	margin: 0 auto;
	padding: 0;
	list-style: none
}
#menu-header ul {
	width: 100%;
}
#menu-header li {
	float: left;
	display: inline;
	position: relative;
}
#menu-header a,.flex-liste a {
	display: flex;
	align-items: center;
	line-height: 60px;
	padding: 0 14px;
	text-decoration: none;
	color: #F54D6C;
	font-size: 18px;
}
#menu-header a.dropdown-arrow:after {
	content: "\25BE";
	margin-left: 5px;
}
/* #menu-header li a:hover, .flex-liste li a:hover {

} */
#menu-header input {
	display: none;
	margin: 0;
	padding: 0;
	height: 60px;
	width: 100%;
	opacity: 0;
	cursor: pointer
}
#menu-header label {
	display: none;
	line-height: 60px;
	text-align: center;
	position: absolute;
	left: 35px
}
#menu-header label:before {
	font-size: 1.6em;
	content: "\2261"; 
	margin-left: 20px;
}
#menu-header ul.sub-menus{
	height: auto;
	overflow: hidden;
	width: 170px;
	position: absolute;
	z-index: 99;
	display: none;
}
#menu-header ul.sub-menus li {
	display: block;
	width: 100%;
}
#menu-header ul.sub-menus a {
	color: #F54D6C;
	font-size: 16px;
}
#menu-header li:hover ul.sub-menus {
	display: block
}
#menu-header ul.sub-menus a:hover{
	background: transparent;
}
#logo_link {
	font-family: 'EB Garamond', serif;
	font-weight: 800;
	text-transform: capitalize;
	font-size: 26px;
	font-style: italic;
	color: #F54D6C;
}
.login-header {
    display: flex;
}
.flex-liste {
	display: flex;
}
.flex-liste li {
	padding: 0px 14px;
	display: flex;
	align-items: center;
}
#btn_connex_h {
	border: 2px solid #F54D6C;
	color: #F54D6C;
	border-radius: 50px;
	height: 45px;
	font-size: 18px;
	padding: 0px 8px;
	background-color: transparent;
	font-family: 'EB Garamond', serif;
}
#btn_connex_h:hover {
	background-color: transparent;
}
#btn_inscri_h {
	border: 2px solid #F54D6C;
	background-color: #F54D6C;
	border-radius: 50px;
	height: 45px;
	font-family: 'EB Garamond', serif; 
	font-size: 18px;
	padding: 0px 8px;
}
#btn_inscri_h a {
	color: #FFF;
}
a:hover#btn_inscri_h  {
	background-color: #2EA043;
	border-radius: 50px;
}
.flex-liste img {
	width: 27px;
}
#li_a_logo {
	display: flex;
	gap: 0.5em;
	border: 1px solid #111;
	border-radius: 50px;
	width: 125px;
	justify-content: center;
	height: 48;	
	align-items: center;
  }

@media screen and (max-width: 800px){
	#menu-header {position:relative}
	#menu-header ul {background:#111;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none}
	#menu-header ul.sub-menus {width:100%;position:static;}
	#menu-header ul.sub-menus a {padding-left:30px;}
	#menu-header li {display:block;float:none;width:auto;}
	#menu-header input, #menu-header label {position:absolute;top:0;left:0;display:block}
	#menu-header input {z-index:4}
	#menu-header input:checked + label {color:white}
	#menu-header input:checked + label:before {content:"\00d7"}
	#menu-header input:checked ~ ul {display:block}
}

/*######################################################################*/
/*#####################################################################*/
/*#################      I N S C R I P T I O N      ############################*/
/*######################################################################*/
/*#####################################################################*/

/********************** DIALOGUE ****************************************/


.modal {
	width: 45ch;
	height: 64ch;
	border: 1px solid transparent;
	border-radius: 8px;
	padding: 15px 25px;
	font-family: 'EB Garamond', serif;
	background-color: #fff;
  }
  dialog#modal {
    position: absolute;
    top: 20%;
    left: 38%;
}
#btn_close_dialog {
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 50px;
	background: transparent;
	border: 0px solid transparent;
	display: flex;
	flex-direction: column;
	justify-content: center;
  }
  .modal::backdrop {
    background: rgb(0 0 0 / 0.4);
  }

form {
	display: flex;
    flex-direction: column;
    gap: 1em;
	padding-top: 55px;
  }
  
  .form-control {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

.form-control label {
	display: inline-block;
	margin-bottom: 5px;
}

.form-control input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}

.form-control input:focus {
	outline: 0;
	border-color: #777;
}


.btn_submit_inscri {
	background-color: #F54D6C;
	border: 2px solid #F54D6C;
	border-radius: 4px;
	color: #FEF2F4;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
}
.btn_submit_inscri:hover {
	background-color: #ff0936;
	border: 2px solid #ff0936;
}

/*######################################################################*/
/*#####################################################################*/
/*#################      C O N N E X I O N     ############################*/
/*######################################################################*/
/*#####################################################################*/

/********************** DIALOGUE ****************************************/

.modal_2 {
	width: 45ch;
	height: 64ch;
	border: 1px solid transparent;
	border-radius: 8px;
	padding: 15px 25px;
	font-family: 'EB Garamond', serif;
  }
  dialog#modal_2 {
    position: absolute;
    top: 20%;
    left: 38%;
}
#btn_close_dialog {
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 50px;
	background: transparent;
	border: 0px solid transparent;
	display: flex;
	flex-direction: column;
	justify-content: center;
  }
  .modal_2::backdrop {
    background: rgb(0 0 0 / 0.4);
  }

form {
	display: flex;
    flex-direction: column;
    gap: 1em;
	padding-top: 55px;
  }
  
  .form-control {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

.form-control label {
	display: inline-block;
	margin-bottom: 5px;
}

.form-control input {
	border: 2px solid #F54D6C;
	border-radius: 50px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
	background: transparent;
}

.form-control input:focus {
	outline: 0;
	border-color: #777;
}


.btn_submit_inscri {
	background-color: #F54D6C;
	border: 2px solid #F54D6C;
	border-radius: 4px;
	color: #FEF2F4;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
}
.btn_submit_inscri:hover {
	background-color: #ff0936;
	border: 2px solid #ff0936;
}


/*######################################################################*/
/*#####################################################################*/
/*################     M A I N - I N D E X    ##########################*/
/*######################################################################*/
/*#####################################################################*/
.main_s1 {
	height: 90%;
	display: grid;
  }

.main_sec {
	display: flex;
	justify-content: center;
	align-items: center;
}

.warpper_main {
	display: flex;
	width: 50vw;
	height: 65vh;
	border: 2px solid #F54D6C;
	border-radius: 6px;
	padding: 10px 15px;
}
.sub_container_main {
	display: flex;
	flex-direction: column;
	gap: 3em;
  }
#btn_main_1 {
	border: 2px solid #F54D6C;
	border-radius: 6px;
	padding: 8px 14px;
	font-family: 'EB Garamond', serif;
	color: #F54D6C;
	font-weight: 600;
}
/*#######################################################################*/
/*######################################################################*/
/*###########      R E S E R V A T I O N      #########################*/
/*######################################################################*/
/*######################################################################*/

.reserv_warpper {
  display: flex;
  justify-content: center;
}
.reserv_container {
	display: flex;
	width: 50vw;
	height: 50vh;
}
.form_reserv {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/*######################################################################*/
/*#####################################################################*/
/*#################      P L A N N I N G     ############################*/
/*######################################################################*/
/*#####################################################################*/
.wel_flex_plan{
	display: flex;
	justify-content: center;
}
.wel_flex_plan h2 {
	font-family: 'EB Garamond', serif;
}
.main_planning {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 75vh;
  }
.link_forward_past {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
.planning {
	display: flex;
	flex-direction: column;
	height: 70vh;
	justify-content: space-evenly;
  }
#btn_prev_1 {
	border: 2px solid #F54D6C;
	border-radius: 4px;
	padding: 8px 20px;
	color: #F54D6C;
  }
  table {
	border:2px solid #F54D6C;
	border-collapse:collapse;
	padding:5px;
	border-radius: 4px;
}
table th {
	border:1px solid #F54D6C;
	padding:5px;
	background: #FEF2F4;
	color: #F54D6C;
	width: 7.5vw;
}
table td {
	border:1px solid #F54D6C;
	text-align:center;
	padding:5px;
	background: #ffffff;
	color: #F54D6C;
	height: 4.5vh;
}
#btn_prev_2 {
	border: 2px solid #F54D6C;
	background: #F54D6C;
	border-radius: 4px;
	padding: 8px 20px;
	color: #FFF;
  }
/*#######################################################################*/
/*######################################################################*/
/*#################       F O O T E R       ############################*/
/*######################################################################*/
/*######################################################################*/

